.env
.env.*
!.env.example

*.pem
*.key
*.pfx
*.p12

*firebase-adminsdk*.json
firebase-service-account.json
resend.env
hash.env

client/.angular/
dist/
coverage/
*.tsbuildinfo
*:Zone.Identifier
node_modules
client/node_modules
server/node_modules
server/.env